# -----------------
# Python / Backend
# -----------------
__pycache__/
*.py[cod]
*.env
*.venv
venv/
env/
*.egg-info/

# backend runtime & models
backend/venv/
backend/__pycache__/
backend/.env
backend/model/
backend/*.h5
backend/*.keras
backend/*.pb
backend/*.tflite
backend/*.pt
backend/*.pkl

# database & uploads
backend/database.db
backend/uploaded_images/

# -----------------
# Logs
# -----------------
*.log
logs/

# -----------------
# OS files
# -----------------
.DS_Store
Thumbs.db

# -----------------
# IDE / Editor
# -----------------
.vscode/
.idea/

# -----------------
# Frontend
# -----------------
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.pnp
frontend/.pnp.js
frontend/coverage/
frontend/.env
frontend/.env.local
frontend/.env*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# -----------------
# Folders to ignore completely
# -----------------
bruno/
datasets/
